openapi: 3.1.0
info:
  title: Suji API
  description: >-
    Customer-facing REST API for the Suji platform.


    **Authentication.** When both an Authorization Bearer token and a session
    cookie are present, the Bearer token takes precedence and the session cookie
    is ignored.


    **Envelope.** Every JSON response is wrapped in a Cloudflare-style envelope:
    `{ success, result, errors: [], messages: [] }`. List responses additionally
    include `result_info` with pagination metadata.


    **Versioning.** This is `/v1`. Breaking changes will land at `/v2` with v1
    kept alive until customer telemetry shows < 5% of calls.
  version: 1.0.0
  contact:
    name: Suji Support
    email: support@suji.fr
    url: https://suji.fr
  license:
    name: Proprietary — see suji.fr/terms
servers:
  - url: https://api.suji.fr
    description: Production
tags:
  - name: Organizations
    description: >-
      Your account is a member of one or more organizations. Manage organization
      membership, settings, and project layout.
  - name: API tokens
    description: Issue and revoke personal access tokens for programmatic access.
  - name: SSH keys
    description: Manage SSH public keys distributed to your VMs.
  - name: Quotas
    description: Read your organization's resource limits and current usage.
  - name: Instances
    description: OpenClaw VMs — create, list, manage lifecycle, snapshot, monitor.
  - name: Snapshots
    description: List, restore, and delete VM disk snapshots stored at the cloud provider.
  - name: Volumes
    description: >-
      Block storage volumes attached to your VMs — create, resize, attach,
      detach.
  - name: Connectors
    description: >-
      Messaging-channel credentials per OpenClaw install — Discord, Slack,
      Telegram, etc.
  - name: App installs
    description: >-
      App lifecycle on a specific instance — install from a catalog/org
      template, configure, upgrade, rotate secrets, restart, uninstall.
  - name: Project spending cap
    description: >-
      Per-project monthly spending cap — blocks new provisioning past the limit
      (running resources are never killed, auto-recharge is unaffected).
  - name: Org billing
    description: >-
      Org-level billing profile (company / tax / address) and spending controls
      (soft + hard caps, per-member caps). Admin+ only on every verb.
  - name: Project preferences
    description: >-
      Default settings applied to new instances in the project (default SSH key,
      default backup retention, …).
  - name: Org templates
    description: >-
      Per-organization customized app templates — clone a public catalog
      template and tweak its manifest or compose for your org.
  - name: Apps catalog
    description: >-
      Public catalog of installable app templates — list, browse, and pick a
      version to install on your instances.
  - name: Analytics
    description: >-
      Per-project resource utilization overview — pool limits, per-instance
      usage, and 7-day trend series.
  - name: Audit log
    description: >-
      Read your organization's audit trail — every user / token action that
      touched a resource. Mounted at both org-wide and per-project paths.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: suji_pat_*
      description: >-
        Personal access token. Scope is `read` (GET only) or `read-write`
        (full).
    sessionCookie:
      type: apiKey
      in: cookie
      name: suji_session
      description: Browser session cookie. Cannot be used from non-browser clients.
security:
  - bearerAuth: []
  - sessionCookie: []
paths:
  /v1/orgs/{orgSlug}/projects/{projectSlug}/instances:
    post:
      operationId: createInstance
      summary: Create an instance
      description: >-
        Create a new OpenClaw VM in the given region. Returns immediately once
        the provisioning job is enqueued — the VM transitions through
        `provisioning` → `running` asynchronously. Quota, platform capacity, and
        spending hard-caps are all checked up-front; exceeded limits fail
        without enqueueing the job. The wire contract is provider-neutral:
        `vmSize` and `region` are Suji slugs (e.g. `small` / `eu-falkenstein`),
        translated to the underlying provider type internally. Optionally
        include `sshPubkey` to seed the root account with your public key.
      tags:
        - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: ^[a-zA-Z0-9 _-]+$
                  minLength: 1
                  maxLength: 60
                region:
                  type: string
                  enum:
                    - eu-falkenstein
                    - eu-nuremberg
                    - eu-helsinki
                vmSize:
                  type: string
                  enum:
                    - small
                    - medium
                    - large
                    - xl
                sshPubkey:
                  type: string
                  pattern: >-
                    ^(ssh-rsa|ssh-ed25519|ecdsa-sha2-nistp(?:256|384|521))\s+[A-Za-z0-9+/=]+(?:\s+.+)?$
              required:
                - name
                - region
                - vmSize
      responses:
        '201':
          description: Instance create accepted; provisioning enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        const: provisioning
                      name:
                        type: string
                      region:
                        type: string
                        enum:
                          - eu-falkenstein
                          - eu-nuremberg
                          - eu-helsinki
                      vmSize:
                        type: string
                        enum:
                          - small
                          - medium
                          - large
                          - xl
                    required:
                      - id
                      - status
                      - name
                      - region
                      - vmSize
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '402':
          description: Spending hard cap exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '422':
          description: Per-org instance quota exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (10 per hour per user)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '503':
          description: >-
            Platform-wide provisioning capacity reached (servers, vCPUs, or
            primary IPs)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
    get:
      operationId: listInstances
      summary: List instances
      description: >-
        List every active instance in the current project. Deprovisioning rows
        are excluded (they vanish from this list as soon as their delete job is
        enqueued). The list itself is unpaginated metadata-wise — pass `?limit=`
        (1-100, default 100) and `?offset=` to page; the response echoes them
        back as `X-Limit` / `X-Offset` headers so clients can chain follow-up
        calls without re-parsing the query string.
      tags:
        - Instances
      responses:
        '200':
          description: Instance list (excludes deprovisioning rows)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        userId:
                          type:
                            - string
                            - 'null'
                        status:
                          type: string
                          enum:
                            - provisioning
                            - running
                            - stopping
                            - stopped
                            - starting
                            - restarting
                            - suspended
                            - error
                            - deprovisioning
                            - rebuilding
                            - restoring
                        name:
                          type:
                            - string
                            - 'null'
                        region:
                          type:
                            - string
                            - 'null'
                          enum:
                            - eu-falkenstein
                            - eu-nuremberg
                            - eu-helsinki
                            - null
                        regionLabel:
                          type:
                            - string
                            - 'null'
                        vmSize:
                          type:
                            - string
                            - 'null'
                          enum:
                            - small
                            - medium
                            - large
                            - xl
                            - null
                        cpuMillicores:
                          type: integer
                        memoryGi:
                          type: number
                        storageGi:
                          type: integer
                        publicIp:
                          type:
                            - string
                            - 'null'
                        hasTunnel:
                          type: boolean
                        projectId:
                          type: string
                        config:
                          type:
                            - object
                            - 'null'
                          additionalProperties: {}
                        provisionedAt:
                          type:
                            - string
                            - 'null'
                        stoppedAt:
                          type:
                            - string
                            - 'null'
                        suspendedAt:
                          type:
                            - string
                            - 'null'
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                      required:
                        - id
                        - userId
                        - status
                        - name
                        - region
                        - regionLabel
                        - vmSize
                        - cpuMillicores
                        - memoryGi
                        - storageGi
                        - publicIp
                        - hasTunnel
                        - projectId
                        - config
                        - provisionedAt
                        - stoppedAt
                        - suspendedAt
                        - createdAt
                        - updatedAt
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
  /v1/orgs/{orgSlug}/projects/{projectSlug}/instances/{id}:
    patch:
      operationId: renameInstance
      summary: Rename an instance
      description: >-
        Rename an instance (the only PATCH-able field today — resize will land
        in a later release). Supports optimistic concurrency via the
        `If-Unmodified-Since` request header (HTTP-date at 1-second
        granularity); a mismatch returns 409 `CONCURRENT_MODIFICATION` so the
        client can refetch the current `updatedAt` and retry.
      tags:
        - Instances
      parameters:
        - in: header
          name: If-Unmodified-Since
          required: false
          description: >-
            HTTP-date guarding against concurrent edits. The request fails with
            409 `CONCURRENT_MODIFICATION` if the resource has been modified
            since this timestamp (matched at 1-second granularity).
          schema:
            type: string
            format: http-date
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: ^[a-zA-Z0-9 _-]+$
                  minLength: 1
                  maxLength: 60
      responses:
        '200':
          description: Renamed instance
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type:
                          - string
                          - 'null'
                      updatedAt:
                        type: string
                    required:
                      - id
                      - name
                      - updatedAt
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '409':
          description: Concurrent modification (If-Unmodified-Since mismatch)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (30 per hour per user)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
    delete:
      operationId: deleteInstance
      summary: Delete an instance
      description: >-
        Schedule the instance for deprovisioning — flips status to
        `deprovisioning` and enqueues a `vm-deprovision` background job.
        Repeated DELETEs against an already-deprovisioning instance are
        idempotent no-ops. The row vanishes from list responses once the
        background job completes.
      tags:
        - Instances
      responses:
        '202':
          description: Deprovision enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        const: deprovisioning
                    required:
                      - id
                      - status
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (10 per hour per user)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
    get:
      operationId: getInstance
      summary: Get an instance
      description: >-
        Fetch a single instance by id. The status field is reconciled against
        the cloud-agent before returning, so a row stuck in a transitional state
        (e.g. `starting` after a worker crash) gets corrected to the real VM
        state. Returns 404 — never 403 — on a missing or out-of-scope id to
        avoid leaking instance existence.
      tags:
        - Instances
      responses:
        '200':
          description: Instance detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      userId:
                        type:
                          - string
                          - 'null'
                      status:
                        type: string
                        enum:
                          - provisioning
                          - running
                          - stopping
                          - stopped
                          - starting
                          - restarting
                          - suspended
                          - error
                          - deprovisioning
                          - rebuilding
                          - restoring
                      name:
                        type:
                          - string
                          - 'null'
                      region:
                        type:
                          - string
                          - 'null'
                        enum:
                          - eu-falkenstein
                          - eu-nuremberg
                          - eu-helsinki
                          - null
                      regionLabel:
                        type:
                          - string
                          - 'null'
                      vmSize:
                        type:
                          - string
                          - 'null'
                        enum:
                          - small
                          - medium
                          - large
                          - xl
                          - null
                      cpuMillicores:
                        type: integer
                      memoryGi:
                        type: number
                      storageGi:
                        type: integer
                      publicIp:
                        type:
                          - string
                          - 'null'
                      hasTunnel:
                        type: boolean
                      projectId:
                        type: string
                      config:
                        type:
                          - object
                          - 'null'
                        additionalProperties: {}
                      provisionedAt:
                        type:
                          - string
                          - 'null'
                      stoppedAt:
                        type:
                          - string
                          - 'null'
                      suspendedAt:
                        type:
                          - string
                          - 'null'
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                    required:
                      - id
                      - userId
                      - status
                      - name
                      - region
                      - regionLabel
                      - vmSize
                      - cpuMillicores
                      - memoryGi
                      - storageGi
                      - publicIp
                      - hasTunnel
                      - projectId
                      - config
                      - provisionedAt
                      - stoppedAt
                      - suspendedAt
                      - createdAt
                      - updatedAt
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Instance not found (or out-of-scope)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
  /v1/orgs/{orgSlug}/projects/{projectSlug}/instances/{id}/installs:
    post:
      operationId: createInstall
      summary: Install an app on an instance
      description: >-
        Create a new app install on the given OpenClaw instance from a catalog
        template or an org template. The install is enqueued asynchronously —
        the response returns immediately with the install id and `status:
        "installing"`. Spending hard caps (org / project / member) are evaluated
        up-front; exceeded caps fail with `HARD_CAP_EXCEEDED` and never enqueue
        the job. Apps whose manifest does not declare `exposure.exposable: true`
        cannot be exposed via subdomain (`APP_NOT_EXPOSABLE`). When
        `saveAsOrgTemplate` is set, the unrendered template is also persisted as
        a new org template (org owners/admins only).
      tags:
        - App installs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                templateSource:
                  type: string
                  enum:
                    - catalog
                    - org
                appSlug:
                  type: string
                  minLength: 1
                  maxLength: 64
                appVersion:
                  type: string
                  minLength: 1
                  maxLength: 64
                orgTemplateId:
                  type: string
                  minLength: 1
                  maxLength: 80
                config:
                  type: object
                  additionalProperties:
                    anyOf:
                      - type: string
                      - type: number
                      - type: array
                        items:
                          type: string
                exposed:
                  type: boolean
                  default: false
                subdomainHint:
                  type: string
                  pattern: ^[a-z0-9](?:[a-z0-9-]{0,20}[a-z0-9])?$
                saveAsOrgTemplate:
                  type: string
                  minLength: 1
                  maxLength: 120
              required:
                - templateSource
                - appSlug
                - appVersion
                - config
      responses:
        '201':
          description: Install created and enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        enum:
                          - installing
                          - running
                          - stopped
                          - failed
                          - upgrading
                          - restarting
                          - deleting
                    required:
                      - id
                      - status
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '402':
          description: Spending hard cap exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: >-
            Insufficient scope, or caller is not an org owner/admin for
            saveAsOrgTemplate
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '409':
          description: Instance is not yet running
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '422':
          description: Form validation, license denial, or non-exposable app
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
    get:
      operationId: listInstalls
      summary: List installs on an instance
      description: >-
        List every app install on the given OpenClaw instance. The
        `encryptedSecrets` column is stripped from each row.
      tags:
        - App installs
      responses:
        '200':
          description: Install list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        instanceId:
                          type: string
                        orgId:
                          type: string
                        projectId:
                          type: string
                        appSlug:
                          type: string
                        appVersion:
                          type: string
                        templateSource:
                          type: string
                          enum:
                            - catalog
                            - org
                        templateRef:
                          type: string
                        composeYaml:
                          type: string
                        config:
                          type: object
                          additionalProperties:
                            anyOf:
                              - type: string
                              - type: number
                              - type: array
                                items:
                                  type: string
                        validatorVersion:
                          type: integer
                        exposed:
                          type: boolean
                        subdomain:
                          type:
                            - string
                            - 'null'
                        hostPort:
                          type:
                            - integer
                            - 'null'
                        status:
                          type: string
                          enum:
                            - installing
                            - running
                            - stopped
                            - failed
                            - upgrading
                            - restarting
                            - deleting
                        lastError:
                          type:
                            - string
                            - 'null'
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                      required:
                        - id
                        - instanceId
                        - orgId
                        - projectId
                        - appSlug
                        - appVersion
                        - templateSource
                        - templateRef
                        - composeYaml
                        - config
                        - validatorVersion
                        - exposed
                        - subdomain
                        - hostPort
                        - status
                        - lastError
                        - createdAt
                        - updatedAt
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
  /v1/orgs/{orgSlug}/projects/{projectSlug}/instances/{id}/installs/{installId}:
    patch:
      operationId: updateInstall
      summary: Update an install
      description: >-
        Update an install's `config` (merged into existing — missing keys keep
        their current values), bump its `appVersion`, toggle `exposed`, or
        change its `subdomainHint`. At least one field must be supplied. Every
        change is treated as an "upgrade" — the worker re-renders compose and
        restarts the stack. Supports optimistic concurrency via the
        `If-Unmodified-Since` request header (HTTP-date at 1-second
        granularity); a mismatch returns 409 `CONCURRENT_MODIFICATION` so the
        client can refetch and retry.
      tags:
        - App installs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                appVersion:
                  type: string
                  minLength: 1
                  maxLength: 64
                config:
                  type: object
                  additionalProperties:
                    anyOf:
                      - type: string
                      - type: number
                      - type: array
                        items:
                          type: string
                exposed:
                  type: boolean
                subdomainHint:
                  type: string
                  pattern: ^[a-z0-9](?:[a-z0-9-]{0,20}[a-z0-9])?$
      responses:
        '200':
          description: No-op (empty body) — current install state returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      instanceId:
                        type: string
                      orgId:
                        type: string
                      projectId:
                        type: string
                      appSlug:
                        type: string
                      appVersion:
                        type: string
                      templateSource:
                        type: string
                        enum:
                          - catalog
                          - org
                      templateRef:
                        type: string
                      composeYaml:
                        type: string
                      config:
                        type: object
                        additionalProperties:
                          anyOf:
                            - type: string
                            - type: number
                            - type: array
                              items:
                                type: string
                      validatorVersion:
                        type: integer
                      exposed:
                        type: boolean
                      subdomain:
                        type:
                          - string
                          - 'null'
                      hostPort:
                        type:
                          - integer
                          - 'null'
                      status:
                        type: string
                        enum:
                          - installing
                          - running
                          - stopped
                          - failed
                          - upgrading
                          - restarting
                          - deleting
                      lastError:
                        type:
                          - string
                          - 'null'
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                    required:
                      - id
                      - instanceId
                      - orgId
                      - projectId
                      - appSlug
                      - appVersion
                      - templateSource
                      - templateRef
                      - composeYaml
                      - config
                      - validatorVersion
                      - exposed
                      - subdomain
                      - hostPort
                      - status
                      - lastError
                      - createdAt
                      - updatedAt
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '202':
          description: Update enqueued; install is now upgrading
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        enum:
                          - installing
                          - running
                          - stopped
                          - failed
                          - upgrading
                          - restarting
                          - deleting
                    required:
                      - id
                      - status
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Install or instance not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '409':
          description: Concurrent modification (If-Unmodified-Since mismatch)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '422':
          description: Form validation, license denial, or non-exposable app
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
        - schema:
            type: string
          in: path
          name: installId
          required: true
    get:
      operationId: getInstall
      summary: Get an install
      description: >-
        Return a single install row. The `encryptedSecrets` column is stripped —
        secret-bearing form values are never returned to clients.
      tags:
        - App installs
      responses:
        '200':
          description: Install detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      instanceId:
                        type: string
                      orgId:
                        type: string
                      projectId:
                        type: string
                      appSlug:
                        type: string
                      appVersion:
                        type: string
                      templateSource:
                        type: string
                        enum:
                          - catalog
                          - org
                      templateRef:
                        type: string
                      composeYaml:
                        type: string
                      config:
                        type: object
                        additionalProperties:
                          anyOf:
                            - type: string
                            - type: number
                            - type: array
                              items:
                                type: string
                      validatorVersion:
                        type: integer
                      exposed:
                        type: boolean
                      subdomain:
                        type:
                          - string
                          - 'null'
                      hostPort:
                        type:
                          - integer
                          - 'null'
                      status:
                        type: string
                        enum:
                          - installing
                          - running
                          - stopped
                          - failed
                          - upgrading
                          - restarting
                          - deleting
                      lastError:
                        type:
                          - string
                          - 'null'
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                    required:
                      - id
                      - instanceId
                      - orgId
                      - projectId
                      - appSlug
                      - appVersion
                      - templateSource
                      - templateRef
                      - composeYaml
                      - config
                      - validatorVersion
                      - exposed
                      - subdomain
                      - hostPort
                      - status
                      - lastError
                      - createdAt
                      - updatedAt
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Install or instance not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
        - schema:
            type: string
          in: path
          name: installId
          required: true
    delete:
      operationId: deleteInstall
      summary: Uninstall an app
      description: >-
        Schedule the install for removal — flips status to `deleting` and
        enqueues an `app-uninstall` job. Repeated DELETEs against an
        already-deleting install are idempotent no-ops.
      tags:
        - App installs
      responses:
        '202':
          description: Uninstall enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        enum:
                          - installing
                          - running
                          - stopped
                          - failed
                          - upgrading
                          - restarting
                          - deleting
                    required:
                      - id
                      - status
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Install or instance not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
        - schema:
            type: string
          in: path
          name: installId
          required: true
  /v1/orgs/{orgSlug}/projects/{projectSlug}/instances/{id}/installs/{installId}/logs:
    get:
      operationId: getInstallLogs
      summary: Get install logs
      description: >-
        Return `docker compose logs` for one app on the instance. Default tail
        mode (`follow=false`) returns up to `lines` (default 100, max 10000)
        lines as a JSON envelope. Follow mode (`follow=true`) upgrades the
        response to a server-sent-event stream (`text/event-stream`) emitting
        `event: log` per line with periodic `event: heartbeat` keep-alives; the
        stream ends with an `event: error` on upstream failure. Capped at 5
        concurrent followers per install — exceeded calls fail with
        `TOO_MANY_FOLLOWERS`.
      tags:
        - App installs
      responses:
        '200':
          description: >-
            Install logs — JSON envelope for tail mode, SSE stream for follow
            mode
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      lines:
                        type: array
                        items:
                          type: string
                    required:
                      - lines
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
[...]
