openapi: 3.1.0
info:
  title: Suji API
  description: >-
    Customer-facing REST API for the Suji platform.


    **Authentication.** When both an Authorization Bearer token and a session
    cookie are present, the Bearer token takes precedence and the session cookie
    is ignored.


    **Envelope.** Every JSON response is wrapped in a Cloudflare-style envelope:
    `{ success, result, errors: [], messages: [] }`. List responses additionally
    include `result_info` with pagination metadata.


    **Versioning.** This is `/v1`. Breaking changes will land at `/v2` with v1
    kept alive until customer telemetry shows < 5% of calls.
  version: 1.0.0
  contact:
    name: Suji Support
    email: support@suji.fr
    url: https://suji.fr
  license:
    name: Proprietary — see suji.fr/terms
servers:
  - url: https://api.suji.fr
    description: Production
tags:
  - name: Organizations
    description: >-
      Your account is a member of one or more organizations. Manage organization
      membership, settings, and project layout.
  - name: API tokens
    description: Issue and revoke personal access tokens for programmatic access.
  - name: SSH keys
    description: Manage SSH public keys distributed to your VMs.
  - name: Quotas
    description: Read your organization's resource limits and current usage.
  - name: Instances
    description: VMs — create, list, manage lifecycle, snapshot, monitor.
  - name: Snapshots
    description: List, restore, and delete VM disk snapshots stored at the cloud provider.
  - name: Volumes
    description: >-
      Block storage volumes attached to your VMs — create, resize, attach,
      detach.
  - name: Analytics
    description: >-
      Per-project resource utilization overview — pool limits, per-instance
      usage, and 7-day trend series.
  - name: Audit log
    description: >-
      Read your organization's audit trail — every user / token action that
      touched a resource. Mounted at both org-wide and per-project paths.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: suji_pat_*
      description: >-
        Personal access token. Scope is `read` (GET only) or `read-write`
        (full).
    sessionCookie:
      type: apiKey
      in: cookie
      name: suji_session
      description: Browser session cookie. Cannot be used from non-browser clients.
security:
  - bearerAuth: []
  - sessionCookie: []
paths:
  /v1/orgs/{orgSlug}/projects/{projectSlug}/instances:
    post:
      operationId: createInstance
      summary: Create an instance
      description: >-
        Create a new VM in the given region. Returns immediately once
        provisioning is scheduled — the VM transitions through `provisioning` →
        `running` asynchronously. Quota, platform capacity, and spending
        hard-caps are all checked up-front; exceeded limits fail before any
        provisioning starts. `vmSize` and `region` are Suji slugs (e.g. `small`
        / `eu-falkenstein`). Optionally include `sshPubkey` to seed the root
        account with your public key.
      tags:
        - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: ^[a-zA-Z0-9 _-]+$
                  minLength: 1
                  maxLength: 60
                  description: >-
                    Display name for the instance. 1–60 chars, alphanumeric with
                    spaces, underscores, or hyphens.
                  example: prod-bot
                region:
                  type: string
                  enum:
                    - eu-falkenstein
                    - eu-nuremberg
                    - eu-helsinki
                  description: >-
                    Suji region slug. Translated to the underlying
                    cloud-provider region at the boundary.
                  example: eu-falkenstein
                vmSize:
                  type: string
                  enum:
                    - small
                    - medium
                    - large
                    - xl
                  description: >-
                    Suji VM size slug — `small`, `medium`, `large`, or `xl`.
                    Maps to provider-specific server types internally.
                  example: small
                sshPubkey:
                  type: string
                  pattern: >-
                    ^(ssh-rsa|ssh-ed25519|ecdsa-sha2-nistp(?:256|384|521))\s+[A-Za-z0-9+/=]+(?:\s+.+)?$
                  description: >-
                    Optional SSH public key (RSA / Ed25519 / ECDSA NIST
                    P-256/384/521). When supplied, the key is installed on
                    `root@` at first boot.
                  example: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIExampleKey…
              required:
                - name
                - region
                - vmSize
      responses:
        '201':
          description: Instance create accepted; provisioning enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        const: provisioning
                      name:
                        type: string
                      region:
                        type: string
                        enum:
                          - eu-falkenstein
                          - eu-nuremberg
                          - eu-helsinki
                      vmSize:
                        type: string
                        enum:
                          - small
                          - medium
                          - large
                          - xl
                    required:
                      - id
                      - status
                      - name
                      - region
                      - vmSize
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '402':
          description: Spending hard cap exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '422':
          description: Per-org instance quota exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (10 per hour per user)
          headers:
            Retry-After:
              description: >-
                Seconds the caller should wait before retrying. Worst-case upper
                bound — the limiter uses a sliding window, so a request may
                succeed sooner.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '503':
          description: >-
            Platform-wide provisioning capacity reached (servers, vCPUs, or
            primary IPs)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
    get:
      operationId: listInstances
      summary: List instances
      description: >-
        List every active instance in the current project. Deprovisioning rows
        are excluded (they vanish from this list as soon as their delete job is
        enqueued). The list itself is unpaginated metadata-wise — pass `?limit=`
        (1-100, default 100) and `?offset=` to page; the response echoes them
        back as `X-Limit` / `X-Offset` headers so clients can chain follow-up
        calls without re-parsing the query string.
      tags:
        - Instances
      responses:
        '200':
          description: Instance list (excludes deprovisioning rows)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        userId:
                          type:
                            - string
                            - 'null'
                        status:
                          type: string
                          enum:
                            - provisioning
                            - running
                            - stopping
                            - stopped
                            - starting
                            - restarting
                            - suspended
                            - error
                            - deprovisioning
                            - rebuilding
                            - restoring
                        name:
                          type:
                            - string
                            - 'null'
                        region:
                          type:
                            - string
                            - 'null'
                          enum:
                            - eu-falkenstein
                            - eu-nuremberg
                            - eu-helsinki
                            - null
                        regionLabel:
                          type:
                            - string
                            - 'null'
                        vmSize:
                          type:
                            - string
                            - 'null'
                          enum:
                            - small
                            - medium
                            - large
                            - xl
                            - null
                        cpuMillicores:
                          type: integer
                        memoryGi:
                          type: number
                        storageGi:
                          type: integer
                        publicIp:
                          type:
                            - string
                            - 'null'
                        hasTunnel:
                          type: boolean
                        projectId:
                          type: string
                        config:
                          type:
                            - object
                            - 'null'
                          additionalProperties: {}
                        provisionedAt:
                          type:
                            - string
                            - 'null'
                        stoppedAt:
                          type:
                            - string
                            - 'null'
                        suspendedAt:
                          type:
                            - string
                            - 'null'
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                      required:
                        - id
                        - userId
                        - status
                        - name
                        - region
                        - regionLabel
                        - vmSize
                        - cpuMillicores
                        - memoryGi
                        - storageGi
                        - publicIp
                        - hasTunnel
                        - projectId
                        - config
                        - provisionedAt
                        - stoppedAt
                        - suspendedAt
                        - createdAt
                        - updatedAt
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
  /v1/orgs/{orgSlug}/projects/{projectSlug}/instances/{id}:
    patch:
      operationId: renameInstance
      summary: Rename an instance
      description: >-
        Update an instance's display `name`. (CPU / memory / storage are not
        PATCH-able here — use `POST /instances/{id}/resize` for those.) Supports
        optimistic concurrency via the `If-Unmodified-Since` request header
        (HTTP-date at 1-second granularity); a mismatch returns 409
        `CONCURRENT_MODIFICATION` so the client can refetch the current
        `updatedAt` and retry.
      tags:
        - Instances
      parameters:
        - in: header
          name: If-Unmodified-Since
          required: false
          description: >-
            HTTP-date guarding against concurrent edits. The request fails with
            409 `CONCURRENT_MODIFICATION` if the resource has been modified
            since this timestamp (matched at 1-second granularity).
          schema:
            type: string
            format: http-date
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: ^[a-zA-Z0-9 _-]+$
                  minLength: 1
                  maxLength: 60
      responses:
        '200':
          description: Renamed instance
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type:
                          - string
                          - 'null'
                      updatedAt:
                        type: string
                    required:
                      - id
                      - name
                      - updatedAt
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '409':
          description: Concurrent modification (If-Unmodified-Since mismatch)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (30 per hour per user)
          headers:
            Retry-After:
              description: >-
                Seconds the caller should wait before retrying. Worst-case upper
                bound — the limiter uses a sliding window, so a request may
                succeed sooner.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
    delete:
      operationId: deleteInstance
      summary: Delete an instance
      description: >-
        Schedule the instance for deprovisioning. Status flips to
        `deprovisioning` and the VM is torn down asynchronously. Repeated
        DELETEs against an already-deprovisioning instance are idempotent
        no-ops. The row vanishes from list responses once the deprovision
        completes.
      tags:
        - Instances
      responses:
        '202':
          description: Deprovision enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        const: deprovisioning
                    required:
                      - id
                      - status
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (10 per hour per user)
          headers:
            Retry-After:
              description: >-
                Seconds the caller should wait before retrying. Worst-case upper
                bound — the limiter uses a sliding window, so a request may
                succeed sooner.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
    get:
      operationId: getInstance
      summary: Get an instance
      description: >-
        Fetch a single instance by id. The status field is reconciled against
        the underlying VM before returning, so a row stuck in a transitional
        state (e.g. `starting` after a backend failure) is corrected to the real
        VM state. Returns 404 if the instance doesn't exist or isn't accessible
        to you.
      tags:
        - Instances
      responses:
        '200':
          description: Instance detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      userId:
                        type:
                          - string
                          - 'null'
                      status:
                        type: string
                        enum:
                          - provisioning
                          - running
                          - stopping
                          - stopped
                          - starting
                          - restarting
                          - suspended
                          - error
                          - deprovisioning
                          - rebuilding
                          - restoring
                      name:
                        type:
                          - string
                          - 'null'
                      region:
                        type:
                          - string
                          - 'null'
                        enum:
                          - eu-falkenstein
                          - eu-nuremberg
                          - eu-helsinki
                          - null
                      regionLabel:
                        type:
                          - string
                          - 'null'
                      vmSize:
                        type:
                          - string
                          - 'null'
                        enum:
                          - small
                          - medium
                          - large
                          - xl
                          - null
                      cpuMillicores:
                        type: integer
                      memoryGi:
                        type: number
                      storageGi:
                        type: integer
                      publicIp:
                        type:
                          - string
                          - 'null'
                      hasTunnel:
                        type: boolean
                      projectId:
                        type: string
                      config:
                        type:
                          - object
                          - 'null'
                        additionalProperties: {}
                      provisionedAt:
                        type:
                          - string
                          - 'null'
                      stoppedAt:
                        type:
                          - string
                          - 'null'
                      suspendedAt:
                        type:
                          - string
                          - 'null'
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                    required:
                      - id
                      - userId
                      - status
                      - name
                      - region
                      - regionLabel
                      - vmSize
                      - cpuMillicores
                      - memoryGi
                      - storageGi
                      - publicIp
                      - hasTunnel
                      - projectId
                      - config
                      - provisionedAt
                      - stoppedAt
                      - suspendedAt
                      - createdAt
                      - updatedAt
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Instance not found (or out-of-scope)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
  /v1/orgs/{orgSlug}/projects/{projectSlug}/instances/{id}/stop:
    post:
      operationId: stopInstance
      summary: Stop an instance
      description: >-
        Gracefully stop a running instance. Status flips to `stopping`
        immediately and returns; the VM is powered off asynchronously and the
        status flips to `stopped` on completion. Only valid from `running` — any
        other state returns 409.
      tags:
        - Instances
      responses:
        '200':
          description: Stop accepted; status set to `stopping`
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        enum:
                          - provisioning
                          - running
                          - stopping
                          - stopped
                          - starting
                          - restarting
                          - suspended
                          - error
                          - deprovisioning
                          - rebuilding
                          - restoring
                    required:
                      - id
                      - status
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '409':
          description: Instance is not in a valid state to stop
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (30 per hour per user)
          headers:
            Retry-After:
              description: >-
                Seconds the caller should wait before retrying. Worst-case upper
                bound — the limiter uses a sliding window, so a request may
                succeed sooner.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
  /v1/orgs/{orgSlug}/projects/{projectSlug}/instances/{id}/start:
    post:
      operationId: startInstance
      summary: Start an instance
      description: >-
        Start a stopped, `error`, or suspended instance. Status flips to
        `starting` immediately and returns; the VM is booted asynchronously and
        the status flips to `running` on completion. Starting a suspended
        instance requires a positive credit balance — returns 402 with
        `PAYMENT_REQUIRED` when the balance is not positive.
      tags:
        - Instances
      responses:
        '200':
          description: Start accepted; status set to `starting`
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        enum:
                          - provisioning
                          - running
                          - stopping
                          - stopped
                          - starting
                          - restarting
                          - suspended
                          - error
                          - deprovisioning
                          - rebuilding
                          - restoring
                    required:
                      - id
                      - status
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '402':
          description: >-
            Instance is suspended and credit balance is not positive; top up
            first
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '409':
          description: Instance is not in a valid state to start
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (30 per hour per user)
          headers:
            Retry-After:
              description: >-
                Seconds the caller should wait before retrying. Worst-case upper
                bound — the limiter uses a sliding window, so a request may
                succeed sooner.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
  /v1/orgs/{orgSlug}/projects/{projectSlug}/instances/{id}/restart:
    post:
      operationId: restartInstance
      summary: Restart an instance
      description: >-
        Restart (stop-then-start) a running instance. Status flips to
        `restarting` immediately and returns; the restart is performed
        asynchronously and the status flips back to `running` on completion.
        Only valid from `running`.
      tags:
        - Instances
      responses:
        '200':
          description: Restart accepted; status set to `restarting`
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        enum:
                          - provisioning
                          - running
                          - stopping
                          - stopped
                          - starting
                          - restarting
                          - suspended
                          - error
                          - deprovisioning
                          - rebuilding
                          - restoring
                    required:
                      - id
                      - status
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '409':
          description: Instance is not in a valid state to restart
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (30 per hour per user)
          headers:
            Retry-After:
              description: >-
                Seconds the caller should wait before retrying. Worst-case upper
                bound — the limiter uses a sliding window, so a request may
                succeed sooner.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
  /v1/orgs/{orgSlug}/projects/{projectSlug}/instances/{id}/firewall:
    get:
      operationId: getInstanceFirewall
      summary: List per-instance firewall rules
      description: >-
        Return the firewall rules currently applied to the instance's VM.
        Mid-provisioning instances return an empty rule list. See
        `firewallRuleSchema` for the per-rule semantics; field names on the wire
        are snake_case.
      tags:
        - Instances
      responses:
        '200':
          description: Firewall rule list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      rules:
                        type: array
                        items:
                          type: object
                          properties:
                            direction:
                              type: string
                              enum:
                                - in
                                - out
                            protocol:
                              type: string
                              enum:
                                - tcp
                                - udp
                                - icmp
                                - esp
                                - gre
                            port:
                              type: string
                              pattern: ^(\d{1,5}(-\d{1,5})?|any)$
                            source_ips:
                              type: array
                              items:
                                type: string
                                maxLength: 50
                              maxItems: 100
                            destination_ips:
                              type: array
                              items:
                                type: string
                                maxLength: 50
                              maxItems: 100
                            description:
                              type: string
                              maxLength: 255
                              default: ''
                            managed:
                              type:
                                - string
                                - 'null'
                              enum:
                                - app
                                - platform
                                - null
                            label:
                              type: string
                              maxLength: 255
                          required:
                            - direction
                            - protocol
                            - source_ips
                            - destination_ips
                        maxItems: 50
                    required:
                      - rules
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '502':
          description: Upstream failure fetching the firewall rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
    put:
      operationId: updateInstanceFirewall
      summary: Replace per-instance firewall rules
      description: >-
        Replace the firewall rule set applied to the VM with the supplied list
        (max 50 rules). The call is a full replace, not a patch — omitted rules
        are removed. A default `in/tcp/22 SSH` rule is re-injected on every save
        unless the body supplies its own `in/tcp/22` override. Returns `{
        status: 'ok' }`; clients reload via `GET /:id/firewall` to see the
        canonical state.
      tags:
        - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      direction:
                        type: string
                        enum:
                          - in
                          - out
                      protocol:
                        type: string
                        enum:
                          - tcp
                          - udp
                          - icmp
                          - esp
                          - gre
                      port:
                        type: string
                        pattern: ^(\d{1,5}(-\d{1,5})?|any)$
                      source_ips:
                        type: array
                        items:
                          type: string
                          maxLength: 50
                        maxItems: 100
                      destination_ips:
                        type: array
                        items:
                          type: string
                          maxLength: 50
                        maxItems: 100
                      description:
                        type: string
                        maxLength: 255
                        default: ''
                      managed:
                        type:
                          - string
                          - 'null'
                        enum:
                          - app
                          - platform
                          - null
                      label:
                        type: string
                        maxLength: 255
                    required:
                      - direction
                      - protocol
                      - source_ips
                      - destination_ips
                  maxItems: 50
              required:
                - rules
      responses:
        '200':
          description: Firewall rules accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      status:
                        type: string
                        const: ok
                    required:
                      - status
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '400':
          description: Invalid firewall rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: Instance not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '409':
          description: Instance is still provisioning
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
[...]
