openapi: 3.1.0
info:
  title: Suji API
  description: >-
    Customer-facing REST API for the Suji platform.


    **Authentication.** When both an Authorization Bearer token and a session
    cookie are present, the Bearer token takes precedence and the session cookie
    is ignored.


    **Envelope.** Every JSON response is wrapped in a Cloudflare-style envelope:
    `{ success, result, errors: [], messages: [] }`. List responses additionally
    include `result_info` with pagination metadata.


    **Versioning.** This is `/v1`. Breaking changes will land at `/v2` with v1
    kept alive until customer telemetry shows < 5% of calls.
  version: 1.0.0
  contact:
    name: Suji Support
    email: support@suji.fr
    url: https://suji.fr
  license:
    name: Proprietary — see suji.fr/terms
servers:
  - url: https://api.suji.fr
    description: Production
tags:
  - name: API tokens
    description: Issue and revoke personal access tokens for programmatic access.
  - name: SSH keys
    description: Manage SSH public keys distributed to your VMs.
  - name: Quotas
    description: Read your organization's resource limits and current usage.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: suji_pat_*
      description: >-
        Personal access token. Scope is `read` (GET only) or `read-write`
        (full).
    sessionCookie:
      type: apiKey
      in: cookie
      name: suji_session
      description: Browser session cookie. Cannot be used from non-browser clients.
security:
  - bearerAuth: []
  - sessionCookie: []
paths:
  /orgs/{orgSlug}/projects/{projectSlug}/ssh-keys:
    get:
      operationId: listSshKeys
      summary: List SSH keys
      description: List SSH keys for the current project.
      tags:
        - SSH keys
      responses:
        '200':
          description: SSH key list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        userId:
                          type:
                            - string
                            - 'null'
                        projectId:
                          type: string
                        name:
                          type: string
                        publicKey:
                          type: string
                        fingerprint:
                          type: string
                        applyToAll:
                          type: boolean
                        createdAt:
                          type: string
                      required:
                        - id
                        - userId
                        - projectId
                        - name
                        - publicKey
                        - fingerprint
                        - applyToAll
                        - createdAt
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                      - count
                      - page
                      - per_page
                      - total_count
                      - total_pages
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '400':
          description: No project selected
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
    post:
      operationId: createSshKey
      summary: Add an SSH key
      description: >-
        Add an SSH public key to the current project. Keys with `applyToAll`
        (default true) are pushed to every running VM in the project and applied
        to every new VM at boot.
      tags:
        - SSH keys
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      fingerprint:
                        type: string
                      createdAt:
                        type: string
                    required:
                      - id
                      - name
                      - fingerprint
                      - createdAt
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                      - count
                      - page
                      - per_page
                      - total_count
                      - total_pages
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '400':
          description: Invalid request or invalid key format
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '409':
          description: A key with this fingerprint already exists in the project
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (10 mutations/minute/user)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
  /orgs/{orgSlug}/projects/{projectSlug}/ssh-keys/{id}:
    delete:
      operationId: deleteSshKey
      summary: Delete an SSH key
      description: >-
        Delete an SSH key. The key is also removed from all instances via FK
        cascade, and the updated set is pushed to running instances so the
        revoke takes effect without a reboot.
      tags:
        - SSH keys
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      success:
                        type: boolean
                        const: true
                    required:
                      - success
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                      - count
                      - page
                      - per_page
                      - total_count
                      - total_pages
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: SSH key not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (10 mutations/minute/user)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
    patch:
      operationId: updateSshKey
      summary: Update an SSH key
      description: >-
        Update an SSH key — rename it or toggle whether it applies to all
        project instances.
      tags:
        - SSH keys
      responses:
        '200':
          description: Updated SSH key
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      userId:
                        type:
                          - string
                          - 'null'
                      projectId:
                        type: string
                      name:
                        type: string
                      publicKey:
                        type: string
                      fingerprint:
                        type: string
                      applyToAll:
                        type: boolean
                      createdAt:
                        type: string
                    required:
                      - id
                      - userId
                      - projectId
                      - name
                      - publicKey
                      - fingerprint
                      - applyToAll
                      - createdAt
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                      - count
                      - page
                      - per_page
                      - total_count
                      - total_pages
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: SSH key not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (10 mutations/minute/user)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
  /orgs/{orgSlug}/projects/{projectSlug}/ssh-keys/sync:
    post:
      operationId: syncSshKeys
      summary: Re-push keys to all instances
      description: >-
        Manually re-push the current set of `applyToAll` SSH keys to every
        running instance in the project. Useful if a previous live propagation
        failed.
      tags:
        - SSH keys
      responses:
        '200':
          description: Sync result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      applied:
                        type: number
                      failed:
                        type: number
                    required:
                      - applied
                      - failed
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                      - count
                      - page
                      - per_page
                      - total_count
                      - total_pages
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '400':
          description: No project selected
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (10 mutations/minute/user)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
  /v1/orgs/{orgSlug}/projects/{projectSlug}/ssh-keys:
    get:
      operationId: listSshKeys
      summary: List SSH keys
      description: List SSH keys for the current project.
      tags:
        - SSH keys
      responses:
        '200':
          description: SSH key list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        userId:
                          type:
                            - string
                            - 'null'
                        projectId:
                          type: string
                        name:
                          type: string
                        publicKey:
                          type: string
                        fingerprint:
                          type: string
                        applyToAll:
                          type: boolean
                        createdAt:
                          type: string
                      required:
                        - id
                        - userId
                        - projectId
                        - name
                        - publicKey
                        - fingerprint
                        - applyToAll
                        - createdAt
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                      - count
                      - page
                      - per_page
                      - total_count
                      - total_pages
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '400':
          description: No project selected
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
    post:
      operationId: createSshKey
      summary: Add an SSH key
      description: >-
        Add an SSH public key to the current project. Keys with `applyToAll`
        (default true) are pushed to every running VM in the project and applied
        to every new VM at boot.
      tags:
        - SSH keys
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      fingerprint:
                        type: string
                      createdAt:
                        type: string
                    required:
                      - id
                      - name
                      - fingerprint
                      - createdAt
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                      - count
                      - page
                      - per_page
                      - total_count
                      - total_pages
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '400':
          description: Invalid request or invalid key format
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '409':
          description: A key with this fingerprint already exists in the project
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (10 mutations/minute/user)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
  /v1/orgs/{orgSlug}/projects/{projectSlug}/ssh-keys/{id}:
    delete:
      operationId: deleteSshKey
      summary: Delete an SSH key
      description: >-
        Delete an SSH key. The key is also removed from all instances via FK
        cascade, and the updated set is pushed to running instances so the
        revoke takes effect without a reboot.
      tags:
        - SSH keys
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      success:
                        type: boolean
                        const: true
                    required:
                      - success
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                      - count
                      - page
                      - per_page
                      - total_count
                      - total_pages
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: SSH key not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (10 mutations/minute/user)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
    patch:
      operationId: updateSshKey
      summary: Update an SSH key
      description: >-
        Update an SSH key — rename it or toggle whether it applies to all
        project instances.
      tags:
        - SSH keys
      responses:
        '200':
          description: Updated SSH key
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      userId:
                        type:
                          - string
                          - 'null'
                      projectId:
                        type: string
                      name:
                        type: string
                      publicKey:
                        type: string
                      fingerprint:
                        type: string
                      applyToAll:
                        type: boolean
                      createdAt:
                        type: string
                    required:
                      - id
                      - userId
                      - projectId
                      - name
                      - publicKey
                      - fingerprint
                      - applyToAll
                      - createdAt
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                      - count
                      - page
                      - per_page
                      - total_count
                      - total_pages
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '404':
          description: SSH key not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (10 mutations/minute/user)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
        - schema:
            type: string
          in: path
          name: id
          required: true
  /v1/orgs/{orgSlug}/projects/{projectSlug}/ssh-keys/sync:
    post:
      operationId: syncSshKeys
      summary: Re-push keys to all instances
      description: >-
        Manually re-push the current set of `applyToAll` SSH keys to every
        running instance in the project. Useful if a previous live propagation
        failed.
      tags:
        - SSH keys
      responses:
        '200':
          description: Sync result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      applied:
                        type: number
                      failed:
                        type: number
                    required:
                      - applied
                      - failed
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                      - count
                      - page
                      - per_page
                      - total_count
                      - total_pages
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '400':
          description: No project selected
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Insufficient scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (10 mutations/minute/user)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
  /orgs/{orgSlug}/projects/{projectSlug}/api-tokens:
    get:
      operationId: listApiTokens
      summary: List API tokens
      description: >-
        List API tokens for the current project. Revoked tokens are kept visible
        for 30 days.
      tags:
        - API tokens
      responses:
        '200':
          description: Token list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        userId:
                          type:
                            - string
                            - 'null'
                        name:
                          type: string
                        tokenPrefix:
                          type: string
                        scope:
                          type: string
                          enum:
                            - read
                            - read-write
                        expiresAt:
                          type:
                            - string
                            - 'null'
                        lastUsedAt:
                          type:
                            - string
                            - 'null'
                        revokedAt:
                          type:
                            - string
                            - 'null'
                        createdAt:
                          type: string
                      required:
                        - id
                        - userId
                        - name
                        - tokenPrefix
                        - scope
                        - expiresAt
                        - lastUsedAt
                        - revokedAt
                        - createdAt
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                      - count
                      - page
                      - per_page
                      - total_count
                      - total_pages
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '400':
          description: No project selected
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
    post:
      operationId: createApiToken
      summary: Create an API token
      description: >-
        Create a new API token. Session-only (requires sudo). The plaintext
        token is returned ONCE in the response — store it immediately.
      tags:
        - API tokens
      security:
        - sessionCookie: []
      responses:
        '201':
          description: Created — plaintext token returned once
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      token:
                        type: string
                      tokenPrefix:
                        type: string
                      name:
                        type: string
                      scope:
                        type: string
                        enum:
                          - read
                          - read-write
                      expiresAt:
                        type:
                          - string
                          - 'null'
                    required:
                      - id
                      - token
                      - tokenPrefix
                      - name
                      - scope
                      - expiresAt
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                      - count
                      - page
                      - per_page
                      - total_count
                      - total_pages
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '403':
          description: Session required (sudo)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
        '429':
          description: Rate limited (5/hour/user)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: false
                  result:
                    type: 'null'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                            - pointer
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                      required:
                        - code
                        - message
                required:
                  - success
                  - result
                  - errors
                  - messages
      parameters:
        - schema:
            type: string
          in: path
          name: orgSlug
          required: true
        - schema:
            type: string
          in: path
          name: projectSlug
          required: true
  /orgs/{orgSlug}/projects/{projectSlug}/api-tokens/{id}:
    delete:
      operationId: revokeApiToken
      summary: Revoke an API token
      description: >-
        Revoke an API token. Idempotent — returns success even if already
        revoked. Permission: creator OR project owner OR org admin/owner.
      tags:
        - API tokens
      responses:
        '200':
          description: Revoked (or already was)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                    required:
                      - id
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                      - count
                      - page
                      - per_page
[...]
